<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.tse-toolkit.scheduledbuild</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-c</string>
    <string>/usr/bin/curl -sL https://raw.githubusercontent.com/puppetlabs/tse-toolkit/master/scripts/tse-macmini-build.sh | /usr/bin/sudo bash</string>
  </array>

  <key>UserName</key>
  <string>tseadmin</string>

  <key>RunAtLoad</key>
  <false/>

  <key>StandardErrorPath</key>
  <string>/tmp/tse-toolkit.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/tse-toolkit.out</string>

  <!-- Run everyday at 6:15am -->
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>06</integer>
    <key>Minute</key>
    <integer>15</integer>
  </dict>

</dict>
</plist>
